/*
  Miscelaneous CSS needed for the application.
  if this grows too much, might be wise to split into different modules.
  preffer using tailwind instead of defining custom CSS, use only if necessary
*/

.dropdown-toggle::after {
  display: none;
}

@font-face {
  font-family: "Inter var";
  src: font-url("Inter-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto var";
  src: font-url("RobotoFlex-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.collapse {
  &.show {
    display: block;
    visibility: visible;
  }
}
