<div id="no-product-available" class="no-product-available-dropdown hide-on-esc">
  <%= render partial: 'spree/shared/no_product_available' %>
</div>

<div class="flex flex-row gap-4">
  <div class="flex-1">
    <%= render Order::Cart::ListComponent.new(
      line_items: order_form.object.line_items.map.with_index do |line_item, index|

        {
          id: line_item.id,
          dom_id: dom_id(line_item),
          index:,
          price: line_item.display_price,
          quantity: line_item.quantity,
          total: line_item.display_total,
          name: line_item.name,
          vendor_name: line_item&.vendor&.name || Spree.t(:no_laboratory),
          product_url: spree.product_path(line_item.variant.product),
          product_image_url: cart_product_image_url(line_item.variant)
        }
      end
    ) %>
  </div>

  <div class="w-[300px] p-2">
    <%= render Order::Cart::SummaryComponent.new(
      total: order_form.object.total,
      stats_per_vendor: @stats_per_vendor
    ) %>
  </div>
</div>

<% if @order&.errors&.any? %>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      document.getElementById('overlay').classList.add('shown');
      document.getElementById('no-product-available').classList.add('shown');
      window.scrollTo(0, 0);
    })
  </script>
<% end %>
