<div class="w-[152px] xl:w-[202px] 2xl:w-[272px] h-full relative float-left px-[8px]" role='gray-picker-component'>
  <button class="w-[120px] xl:w-[170px] 2xl:w-[240px] p-2 float-left text-left text-sm text-gray-500 overflow-hidden text-nowrap text-ellipsis dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="font-semibold hidden xl:inline-block"><%= @title %>: </span>
    <span><%= @value %></span>
    <%= image_tag "icons/arrow-down", class: 'h-[7px] w-[15px] absolute top-[15px] right-[20px]' %>
  </button>

  <!-- dropdown menu with options -->
  <div class="dropdown-menu hidden absolute right-0 top-[32px] z-10 mt-2 w-[350px] origin-top-right rounded-md bg-white shadow-sm ring-1 ring-black ring-opacity-5 focus:outline-none" aria-orientation="vertical" aria-labelledby="menu-button">
    <div class="py-1">
      <!-- option button linking to related action -->
      <% @options&.each&.with_index do |option, index| %>
        <% next unless path = (send(@form_path_method, option_id: option[:id]) rescue '#') %>
        <%= button_to(
            option[:title],
            path,
            {
              form_class: '',
              class: 'px-4 py-2 text-gray-700 block text-left text-sm w-full overflow-hidden text-nowrap text-ellipsis hover:bg-gray-100'
            }
          )
        %>
      <% end %>
    </div>
  </div>
</div>
